:root {
  --ds-black: #1A1A1A;
  --ds-black-light: #2D2D2D;
  --lunar-white: #F1F5F9;
  --nebula-purple: #7C3AED;
  --nebula-purple-light: #9575CD;
  --meteor-gray: #4B5563;
  --amber: #FFC107;
  --custom-green: #2E7D32;
  --custom-red: #B71C1C;
}
